.Home {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-left: 70px;
}
.left-nav input{
    border: 1.5px solid blueviolet;
    width: max(17vw,150px);
    height: 30px;
    border-radius: 10px;
    outline: none;
}
.left-nav input::placeholder{
    color: blueviolet;
    padding: 15px;
}

.right-nav ul {
    display: flex;
    gap: 15px;
    margin-right: 30px;

}

.right-nav li {
    list-style: none;
    padding: 5px;
    color: blueviolet;
}
.right-nav li:hover{
    background-color: rgb(126, 9, 236) ;
    color: white; 
    border-radius: 50px;
    align-content: center; 
}


@media (max-width:450px) {
     .navbar{
        width: 100%;
     }

     .left-nav{
        margin-left: 0;
        gap: 10px;
        margin-left: 0px;
     }

     .left-nav img{
        width: 20px;
     }

     .right-nav ul{
        gap: 5px;
        padding: ;
     }
}