.slider {
    width: 180px;
    background-color: blueviolet;
    margin: 0;
    height: 95%;
    border-top-right-radius: 15px;
    position: fixed;
}

.slider-container {
    width: 175px;
    height: 95%;
    justify-items: center;
    margin-top: 50px;

}

.upper-slider {
    justify-content: center;
}




.upper-slider li {
    list-style: none;
    width: 173px;
    color: white;
    padding: 10px;


}

.upper-slider li .active{
   background-color:rgb(61, 8, 110);
   padding-right: 30px;
   padding-top: 5px;
   padding-bottom: 5px;
   border-radius: 15px;
}

.upper-slider i {
    width: 60px;
}

.upper-slider li:hover {
    background-color: rgb(34, 3, 63);
    border-radius: 15px;
    cursor: pointer;
}

.lower-slider {
    margin-top: 250px;
    align-items: center;
    justify-content: center;
}

.lower-slider li {
    width: 173px;
    padding: 10px;
    color: white;

}

.lower-slider i {
    width: 50px;

}

.lower-slider li:hover {
    background-color: rgb(34, 3, 63);
    border-radius: 15px;
    cursor: pointer;
}

@media (max-width:450px) {
    .slider {
        width: 95px;
        justify-items: center;
    }

    .upper-slider li {
        width: 90px;
    }

    .upper-slider span {
        display: none;
    }

    .lower-slider li {
        width: 90px;
    }

    .lower-slider span {
        display: none;
    }
}